@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 4rem;
}

h1,
h2 {
  font-weight: 300;
}

#container {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 0.6fr;
}
